<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backpackers Index 2020</title>
  
  <!-- Bootstrap -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/bootstrap.min.css">

  
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- CSS -->
  <link rel= "stylesheet" type= "text/css" href= "static/css/style.css">

</head>


<body>
  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
            <h1 class="display-3">Backpackers Index 2020</h1>
            <h1 style="font-size: 30px;" class="lead mb-0">Meet the Team</h1>
            </div>
        </div>
    </div>
  </header>

  <!--navigation bar-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>   
    
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="Dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="Comparison.html">Comparison</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="Team.html">Meet the Team <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
  </nav>



  <!-- Page Content -->
  <div style="padding: 20px; margin-bottom: 50px;" class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img class="img-fluid img-thumbnail" src="static/photos/YM.jpeg" class="float-left" alt="" width="550" height="550">
          <div class="card-body">
            <p class="card-text">Yee Mun Chan</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img class="img-fluid img-thumbnail" src="static/photos/AC.jpg" class="float-right" alt="" width="550" height="550">
          
          <div class="card-body">
            <p class="card-text">Anastasia Bolboceanu</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img class="img-fluid img-thumbnail" src="static/photos/HY.jpg" class="float-left" alt="" width="550" height="550">

          <div class="card-body">
            <p class="card-text">Henock Jacob</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img class="img-fluid img-thumbnail" src="static/photos/JJ.jpeg" class="float-right" alt="" width="550" height="550">
          
          <div class="card-body">
            <p class="card-text">Junior Jean-Simon</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #373a3c; border-color: white; " class="footer">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <p style="color: white; text-align: left; margin-left: 30px; margin-top: 10px">Source: <a style="color: white;" href="https://www.priceoftravel.com/world-cities-by-price-backpacker-index/" target="_blank">PriceofTravel</a></p>
        </div>
        <div class="col-sm-7 col-md-7">
          <p style="color: white; text-align: left; margin-top: 10px"><a style="color: white" href="Team.html">© 2020 Copyright -> Meet the Team</a></p>
        </div>
    </div> 
  </div>

</body>

</html>